@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D1D5DB;
  border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EF4444;
}

